# Python
__pycache__/
*.py[cod]

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# OS / Editor
.DS_Store
.vscode/
.idea/

# demo data
.demo_images/
.records/management/