asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django==5.0.2
django-cloudinary-storage
dotenv
gunicorn
idna
packaging
pillow
psycopg2-binary
python-dotenv
requests
six
sqlparse
urllib3
whitenoise
